* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* el alto seria la suma de los altos de los hijos */
    height: 100vh; /* altura fija de la ventana del navegador */

}

header{
    background-color: black;
    flex-basis: 5vh;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    border: 0px solid white;
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
header #menu i{
    color: white;
    font-size: 20px

}
header figure{
    border: 1px solid white;
    color: white;
    flex-basis: 20%;
}
header nav{
    border: 1px solid white;
    color: white;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header nav a:hover{
    color:rgb(218, 253, 111);

}
header form{
    flex-basis: 20%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    justify-content: center;

}

header form input {
    background-color:antiquewhite;
    padding: 8px;
    border-radius: 15px;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
} 
header #carrito{
    border: 1px solid white;
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row; /* ejej principal */
    flex-wrap: nowrap;   
    justify-content: space-around; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secundario */
}
header #carrito i{
    font-size: 25px;
    color: green;
}
/*Elemento de linea: img, a, span, i input
--Elemtos de bloque: el resto de etiquetas de este codigo */


main{
    background-color: white;
    flex-basis: 65%;
}
main section { /*Contenedor*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
main section article{
    flex-basis: 20%; /*Segun el flex-direction de padre*/
    border: 1px solid black;
    display: flex; /*Contenedor*/
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0, 0,.1);
    padding: 20px;
}
footer{
    background-color: black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
footer nav#Sociales {
    border: 3px solid black;
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-right: 10px;


}
footer nav#Sociales a {
    text-decoration: none;
    border: 1px solid black;
    background-color: lightgreen;
    display: inline-block; /*Elemento de linea con propiedades de bloque */
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    
}
/*Estado sobre */
footer nav#Sociales a:hover {
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}


footer nav#Sociales a:nth-child(1) {
    margin-left: 30px;
}

footer nav#Sociales a i {
    font-size: 30px;
    color: white;
    
}
footer div#suscribete {
    border: 1px solid black;
    flex-basis: 50%;
}
footer article {
  border: 1px solid black;
  
flex-basis: 33%;
}

footer article h3{
color: white;
text-transform: uppercase;
margin-left: 15px;
margin-bottom: 20px;
padding-top: 20px;
}

footer article nav a{
display: flex;
flex-direction: column;
margin-left: 25px;
}

footer article nav{
display: flex;
flex-direction: row;
justify-content: start;
border: 1px solid black;
margin-bottom: 10px;
height: 30px;
align-items: center;
text-decoration: none;
color: whitesmoke;
}

footer article nav a i{
    font-size: 25px;
    margin-right: 10px;
}

footer article nav a span{

}
main section article .badge{
    color: green;
    background-color: rgb(183,67,139);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    position: absolute; /*uso particular:efectos especiales */
    top: 5px;
    right: 5px; 

}
main section article p {
    color: red;
}
main section article .nombre{
color: blue;

}
main section article figure img {
    border: 1px solid black;
    height: 100%;
    position: absolute;
    top: -20px;
}
main section article figure {
    border: 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    position: relative;
}
main section article p{
    background-color: grey;
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around ;
    align-items: center;
    width: 100%;
}
main section article p .start {
    font-size: 10px;
    color: yellow;
    margin-right: 3px;
}
main section article p .valoracion{
    color: red;


}main section article div {
display: flex;
flex-direction: row;
justify-content:space-between ;
}
main section article div .dto{
    background-color: rgb(183, 67, 139);
    color: black;
    padding: 2px;
    border-radius: 7px;
    font-size: 12px;

}
main section article div .precio .pvr{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}