header{
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
}
h1{
    padding: 10px;
    border: 3px solid black;
}
header nav{
    flex-direction: row;
    gap: 25px;
    border: 1px solid blue;

}
header nav a{
    border-radius: 5px;
    text-align: center;
}